.scroll-box{
height:300px;
overflow-y:auto;
background:#1e1e1e;
padding:10px;
border-radius:8px;
}

.log-entry{
padding:6px;
border-bottom:1px solid #444;
font-family:monospace;
}

.blinking{
    animation: blinkAnimation 1s infinite;
}

@keyframes blinkAnimation{

    0% { opacity:1; }
    50% { opacity:0.3; }
    100% { opacity:1; }

}